java-intel/DIEMConnection/src/META-INF/healthcare.intel.com.integration.extracts.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://healthcare.intel.com/integration/extracts" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ExtractDataService" targetNamespace="http://healthcare.intel.com/integration/extracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://healthcare.intel.com/integration/extracts/Imports">
      <xsd:import schemaLocation="healthcare.intel.com.integration.extracts.xsd" namespace="http://healthcare.intel.com/integration/extracts" />
      <xsd:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="Intel.Healthcare.Integration.Extracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Intel.Healthcare.Integration.Extracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExtractData_GetExtract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtract" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetExtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtractResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceDetails" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceSummaries" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceSummaryTotals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceSummaryTotals" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetAdherenceSummaryTotals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdherenceSummaryTotalsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCareManagerInterventions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCareManagerInterventions" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCareManagerInterventions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCareManagerInterventionsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCarePlanDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarePlanDetails" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCarePlanDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarePlanDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCarePlanSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarePlanSummaries" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetCarePlanSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarePlanSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetClinicians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicians" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetClinicians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCliniciansResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetEventLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventLogs" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetEventLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMachineInventories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineInventories" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMachineInventories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineInventoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMasterCarePlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterCarePlans" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMasterCarePlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterCarePlansResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMeasurements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurements" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetMeasurements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatients" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientClinicians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientClinicians" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientClinicians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientCliniciansResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMachines" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSessionIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSessionIDs" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSessionIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSessionIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSession" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSessions" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetPatientSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_AcknowledgePatientSessionTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgePatientSessionTransfer" />
  </wsdl:message>
  <wsdl:message name="IExtractData_AcknowledgePatientSessionTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgePatientSessionTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetStandardFormatPatientSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardFormatPatientSession" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetStandardFormatPatientSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardFormatPatientSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetStandardFormatPatientSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardFormatPatientSessions" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetStandardFormatPatientSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardFormatPatientSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholds" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThresholdsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetVideoConferences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoConferences" />
  </wsdl:message>
  <wsdl:message name="IExtractData_GetVideoConferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoConferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_IsPatientSessionSent_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPatientSessionSent" />
  </wsdl:message>
  <wsdl:message name="IExtractData_IsPatientSessionSent_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPatientSessionSentResponse" />
  </wsdl:message>
  <wsdl:message name="IExtractData_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IExtractData_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IExtractData">
    <wsdl:operation name="GetExtract">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetExtract" message="tns:IExtractData_GetExtract_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetExtractResponse" message="tns:IExtractData_GetExtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceDetails">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceDetails" message="tns:IExtractData_GetAdherenceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceDetailsResponse" message="tns:IExtractData_GetAdherenceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceSummaries">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummaries" message="tns:IExtractData_GetAdherenceSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummariesResponse" message="tns:IExtractData_GetAdherenceSummaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceSummaryTotals">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummaryTotals" message="tns:IExtractData_GetAdherenceSummaryTotals_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummaryTotalsResponse" message="tns:IExtractData_GetAdherenceSummaryTotals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCareManagerInterventions">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCareManagerInterventions" message="tns:IExtractData_GetCareManagerInterventions_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCareManagerInterventionsResponse" message="tns:IExtractData_GetCareManagerInterventions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarePlanDetails">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanDetails" message="tns:IExtractData_GetCarePlanDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanDetailsResponse" message="tns:IExtractData_GetCarePlanDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarePlanSummaries">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanSummaries" message="tns:IExtractData_GetCarePlanSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanSummariesResponse" message="tns:IExtractData_GetCarePlanSummaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClinicians">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetClinicians" message="tns:IExtractData_GetClinicians_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetCliniciansResponse" message="tns:IExtractData_GetClinicians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventLogs">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetEventLogs" message="tns:IExtractData_GetEventLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetEventLogsResponse" message="tns:IExtractData_GetEventLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineInventories">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMachineInventories" message="tns:IExtractData_GetMachineInventories_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMachineInventoriesResponse" message="tns:IExtractData_GetMachineInventories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterCarePlans">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMasterCarePlans" message="tns:IExtractData_GetMasterCarePlans_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMasterCarePlansResponse" message="tns:IExtractData_GetMasterCarePlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasurements">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMeasurements" message="tns:IExtractData_GetMeasurements_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetMeasurementsResponse" message="tns:IExtractData_GetMeasurements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetNotifications" message="tns:IExtractData_GetNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetNotificationsResponse" message="tns:IExtractData_GetNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatients">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatients" message="tns:IExtractData_GetPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientsResponse" message="tns:IExtractData_GetPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientClinicians">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientClinicians" message="tns:IExtractData_GetPatientClinicians_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientCliniciansResponse" message="tns:IExtractData_GetPatientClinicians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientMachines">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientMachines" message="tns:IExtractData_GetPatientMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientMachinesResponse" message="tns:IExtractData_GetPatientMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSessionIDs">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessionIDs" message="tns:IExtractData_GetPatientSessionIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessionIDsResponse" message="tns:IExtractData_GetPatientSessionIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSession">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSession" message="tns:IExtractData_GetPatientSession_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessionResponse" message="tns:IExtractData_GetPatientSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientSessions">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessions" message="tns:IExtractData_GetPatientSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessionsResponse" message="tns:IExtractData_GetPatientSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgePatientSessionTransfer">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/AcknowledgePatientSessionTransfer" message="tns:IExtractData_AcknowledgePatientSessionTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/AcknowledgePatientSessionTransferResponse" message="tns:IExtractData_AcknowledgePatientSessionTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardFormatPatientSession">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSession" message="tns:IExtractData_GetStandardFormatPatientSession_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSessionResponse" message="tns:IExtractData_GetStandardFormatPatientSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardFormatPatientSessions">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSessions" message="tns:IExtractData_GetStandardFormatPatientSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSessionsResponse" message="tns:IExtractData_GetStandardFormatPatientSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThresholds">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetThresholds" message="tns:IExtractData_GetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetThresholdsResponse" message="tns:IExtractData_GetThresholds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoConferences">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetVideoConferences" message="tns:IExtractData_GetVideoConferences_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/GetVideoConferencesResponse" message="tns:IExtractData_GetVideoConferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPatientSessionSent">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/IsPatientSessionSent" message="tns:IExtractData_IsPatientSessionSent_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/IsPatientSessionSentResponse" message="tns:IExtractData_IsPatientSessionSent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/Ping" message="tns:IExtractData_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/extracts/IExtractData/PingResponse" message="tns:IExtractData_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExtractData" type="tns:IExtractData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExtract">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetExtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceDetails">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceSummaries">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdherenceSummaryTotals">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetAdherenceSummaryTotals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCareManagerInterventions">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetCareManagerInterventions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarePlanDetails">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarePlanSummaries">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetCarePlanSummaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinicians">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetClinicians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventLogs">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetEventLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineInventories">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetMachineInventories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterCarePlans">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetMasterCarePlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasurements">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetMeasurements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatients">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientClinicians">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientClinicians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientMachines">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSessionIDs">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessionIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSession">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientSessions">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetPatientSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgePatientSessionTransfer">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/AcknowledgePatientSessionTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardFormatPatientSession">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardFormatPatientSessions">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetStandardFormatPatientSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThresholds">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoConferences">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/GetVideoConferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPatientSessionSent">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/IsPatientSessionSent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://healthcare.intel.com/integration/extracts/IExtractData/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtractDataService">
    <wsdl:port name="BasicHttpBinding_IExtractData" binding="tns:BasicHttpBinding_IExtractData">
      <soap:address location="https://prov1804.soaesrvs.com/Integration/Extract.svc/ExtractService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
