java-intel/DIEMConnection/src/META-INF/wsdl/healthcare.intel.com.integration.importdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://healthcare.intel.com/integration/importdata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ImportDataService" targetNamespace="http://healthcare.intel.com/integration/importdata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IImportData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://healthcare.intel.com/integration/importdata/Imports">
      <xsd:import schemaLocation="healthcare.intel.com.integration.importdata.xsd" namespace="http://healthcare.intel.com/integration/importdata" />
      <xsd:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="Intel.Healthcare.Integration.Extracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Intel.Healthcare.Integration.Extracts" />
      <xsd:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportData_ImportClinicians_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportClinicians" />
  </wsdl:message>
  <wsdl:message name="IImportData_ImportClinicians_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportCliniciansResponse" />
  </wsdl:message>
  <wsdl:message name="IImportData_ImportPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportPatients" />
  </wsdl:message>
  <wsdl:message name="IImportData_ImportPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IImportData_ImportPatientsStandardFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportPatientsStandardFormat" />
  </wsdl:message>
  <wsdl:message name="IImportData_ImportPatientsStandardFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportPatientsStandardFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IImportData_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IImportData_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportData">
    <wsdl:operation name="ImportClinicians">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportClinicians" message="tns:IImportData_ImportClinicians_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportCliniciansResponse" message="tns:IImportData_ImportClinicians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportPatients">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatients" message="tns:IImportData_ImportPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatientsResponse" message="tns:IImportData_ImportPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportPatientsStandardFormat">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatientsStandardFormat" message="tns:IImportData_ImportPatientsStandardFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatientsStandardFormatResponse" message="tns:IImportData_ImportPatientsStandardFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/Ping" message="tns:IImportData_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://healthcare.intel.com/integration/importdata/IImportData/PingResponse" message="tns:IImportData_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportData" type="tns:IImportData">
    <wsp:PolicyReference URI="#BasicHttpBinding_IImportData_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportClinicians">
      <soap:operation soapAction="http://healthcare.intel.com/integration/importdata/IImportData/ImportClinicians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportPatients">
      <soap:operation soapAction="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportPatientsStandardFormat">
      <soap:operation soapAction="http://healthcare.intel.com/integration/importdata/IImportData/ImportPatientsStandardFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://healthcare.intel.com/integration/importdata/IImportData/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportDataService">
    <wsdl:port name="BasicHttpBinding_IImportData" binding="tns:BasicHttpBinding_IImportData">
      <soap:address location="https://prov1804.soaesrvs.com/Integration/ImportData.svc/ImportDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
