java-intel/DIEMConnection/src/META-INF/wsdl/healthcare.careinnovations.com.integration.userlookup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://healthcare.careinnovations.com/integration/userlookup" elementFormDefault="qualified" targetNamespace="http://healthcare.careinnovations.com/integration/userlookup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="CareInnovations.Healthcare.Integration.Extracts.xsd" namespace="http://schemas.datacontract.org/2004/07/CareInnovations.Healthcare.Integration.Extracts" />
  <xs:element name="GetClinicianByExternalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q1:guid" />
        <xs:element minOccurs="0" name="externalID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicianByExternalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CareInnovations.Healthcare.Integration.Extracts" minOccurs="0" name="GetClinicianByExternalIDResult" nillable="true" type="q2:Clinician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicianByInternalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q3:guid" />
        <xs:element minOccurs="0" name="internalID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicianByInternalIDResponse">
    <xs:complexType>
      <xs:sequence>
        ds:element xmlns:q4="http://schemas.datacontract.org/2004/07/CareInnovations.Healthcare.Integration.Extracts" minOccurs="0" name="GetClinicianByInternalIDResult" nillable="true" type="q4:Clinician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByExternalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q5:guid" />
        <xs:element minOccurs="0" name="externalID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByExternalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CareInnovations.Healthcare.Integration.Extracts" minOccurs="0" name="GetPatientByExternalIDResult" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByInternalID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q7:guid" />
        <xs:element minOccurs="0" name="internalID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByInternalIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CareInnovations.Healthcare.Integration.Extracts" minOccurs="0" name="GetPatientByInternalIDResult" nillable="true" type="q8:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>