java-intel/DIEMConnection/xml-resources/web-service-references/healthcare.intel.com.integration.importdata/wsdl/healthcare.intel.com.integration.importdata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://healthcare.intel.com/integration/importdata" elementFormDefault="qualified" targetNamespace="http://healthcare.intel.com/integration/importdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Intel.Healthcare.Integration.Extracts.xsd" namespace="http://schemas.datacontract.org/2004/07/Intel.Healthcare.Integration.Extracts" />
  <xs:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ImportClinicians">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intel.Healthcare.Integration.Extracts" minOccurs="0" name="demographics" nillable="true" type="q1:ArrayOfClinician" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCliniciansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportCliniciansResult" type="tns:Result" />
        <xs:element minOccurs="0" name="importResults" nillable="true" type="tns:ArrayOfImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Result">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Unauthorized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:ImportResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportResult" nillable="true" type="tns:ArrayOfImportResult" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfInputValidationError" />
      <xs:element minOccurs="0" name="ExternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" type="tns:Action" />
      <xs:element minOccurs="0" name="Result" type="tns:Result" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
  <xs:complexType name="ArrayOfInputValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputValidationError" nillable="true" type="tns:InputValidationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputValidationError" nillable="true" type="tns:ArrayOfInputValidationError" />
  <xs:complexType name="InputValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputValidationError" nillable="true" type="tns:InputValidationError" />
  <xs:simpleType name="Action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Add" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Ignore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Action" nillable="true" type="tns:Action" />
  <xs:element name="ImportPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Intel.Healthcare.Integration.Extracts" minOccurs="0" name="demographics" nillable="true" type="q3:ArrayOfPatient" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportPatientsResult" type="tns:Result" />
        <xs:element minOccurs="0" name="importResults" nillable="true" type="tns:ArrayOfImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPatientsStandardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="patients" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secureSessionToken" type="q6:guid" />
        <xs:element minOccurs="0" name="dataFormatType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPatientsStandardFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportPatientsStandardFormatResult" type="tns:Result" />
        <xs:element minOccurs="0" name="importResults" nillable="true" type="tns:ArrayOfImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>